<div class="row nav">
    <a href="/"><h1 id="store" class="six columns">Awesome Art Gallery</h1></a>
    <span class="four columns">&nbsp;</span>
    <!-- <a href="/artworks/new"><button type="button" name="button" class="new-product two columns">New Product</button></a> -->
    <!-- <a href="/artworks/new"><button type="button" name="button" class="new-product two columns">New Product</button></a> -->
    <span class="one column">&nbsp;</span>
</div>